$background:#939597;
$background2:#97999B;
$header_selection_hover : #A89723;
$header: #FFEB69;
$header_selection: #F5DF4D;

body{
    background-color: $background2;
    margin: 0;
}


.header{ //corresponds au composant Header
    

    background-color: $header;

    h1{
        color: black;
        font-size: 2em;
        text-align: center;
        padding: 0;
        margin: 0;
    }

}

.header nav{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
        
        
}

.linker{
    background-color: $header_selection;
    width: 25%;
    text-align: center;
    margin: 0.5em;
    border: 1px solid black;
    color: black;
    border-radius: 0.5em;

    &:hover{
        background-color: $header_selection_hover;
    }
    a:visited{
        color: black;
    }   
}
    
    
.todo_list h3{
    margin: 0;
    margin-top: 1em;
    text-align: center;
    color: black;
    font-size: 1.5em;
}



.todo{
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: left;
    align-items: center;

    div{
        padding: 1em;
    }

}